__pycache__
pid
.*.sw?
version
_version.py
tags
set_pythonpath
test_work
state
*.pyc
sysmocom/resources.conf
sysmocom/ttcn3/resources.conf

# manuals
doc/manuals/*.html
doc/manuals/*.svg
doc/manuals/*.pdf
doc/manuals/*__*.png
doc/manuals/*.check
doc/manuals/generated/
doc/manuals/osmo-gsm-tester-manual.xml
doc/manuals/common
doc/manuals/build
