rf_driver: {
    name: "${trx.rf_dev_type}",
    args: "${trx.rf_dev_args}",
    sync: "${trx.rf_dev_sync}",
% if trx.get('rx_ant', None) != None:
    rx_antenna: "${trx.rx_ant}",
% endif

% if trx.rf_dev_type == 'zmq':
    dl_sample_bits: 16,
    ul_sample_bits: 16,
% endif
},

tx_gain: ${trx.tx_gain}, /* TX gain (in dB) B2x0: 0 to 89.8 dB */
rx_gain: ${trx.rx_gain}, /* RX gain (in dB) B2x0: 0 to 73 dB */

// only the B210 requires a sample offset
% if "b200" in trx.rf_dev_args:
tx_time_offset: -150,
% else:
tx_time_offset: 0,
% endif