rf_driver: {
    name: "${trx.rf_dev_type}",
    sync: "${'1' if trx.rf_dev_type == 'zmq' else 'none'}",

    args: "${trx.rf_dev_args}",

% if trx.rf_dev_type == 'zmq':
    dl_sample_bits: 16,
    ul_sample_bits: 16,
% endif
},

tx_gain: 89.0, /* TX gain (in dB) B2x0: 0 to 89.8 dB */
rx_gain: 60.0, /* RX gain (in dB) B2x0: 0 to 73 dB */
% if trx.rf_dev_type == 'zmq':
tx_time_offset: 0,
% else:
tx_time_offset: -150,
% endif
