!
! OsmoBTS () configuration saved from vty
!!
!
log stderr
  logging color 1
  logging timestamp 1
  logging print extended-timestamp 1
  logging print category 1
  logging level all debug
  logging level l1c info
  logging level linp info
!
phy 0
 instance 0
bts 0
 band {band}
 ipa unit-id {ipa_unit_id} 0
 oml remote-ip {oml_remote_ip}
 trx 0
  phy 0 instance 0
