! Configuration rendered by osmo-gsm-tester
log stderr
 logging filter all 1
 logging color 1
 logging print category 1
 logging print extended-timestamp 1
 logging level all debug
line vty
 no login
 bind ${msc.ip_address.addr}
network
 network country code ${msc.net.mcc}
 mobile network code ${msc.net.mnc}
 short name ${msc.net.short_name}
 long name ${msc.net.long_name}
 auth policy ${msc.net.auth_policy}
 location updating reject cause 13
 encryption ${msc.net.encryption}
cs7 instance 0
 point-code 0.0.1
msc
 mgcpgw remote-ip ${mgcpgw.ip_address.addr}
 assign-tmsi
 cs7-instance-iu 0
 cs7-instance-a 0
ctrl
 bind ${msc.ip_address.addr}
smpp
 local-tcp-ip ${msc.ip_address.addr} 2775
 system-id test-msc
 policy ${smsc.policy}
%for esme in smsc.esme_list:
 esme ${esme.system_id}
% if esme.password == '':
  no password
% else:
  password ${esme.password}
% endif
  default-route
%endfor
hlr
 remote-ip ${hlr.ip_address.addr}
