!
! MGCP configuration example
!
line vty
 no login
 bind ${mgw.ip_address.addr}
mgcp
 bind ip ${mgw.ip_address.addr}
 bind port 2427
 rtp net-range 4002 16001
 rtp force-ptime 20
 number endpoints 31
 rtcp-omit
 rtp-accept-all 1
 osmux ${mgw.use_osmux}
 osmux bind-ip ${mgw.ip_address.addr}
