! Configuration rendered by osmo-gsm-tester
log stderr
  logging color 1
  logging print extended-timestamp 1
  logging print category 1
  logging level abis debug
  logging level oml debug
  logging level pag debug
  logging level rll debug
  logging level rr debug
  logging level rsl debug
!
phy 0
 instance 0
bts 0
 band ${osmo_bts_sysmo.band}
 ipa unit-id ${osmo_bts_sysmo.ipa_unit_id} 0
 oml remote-ip ${osmo_bts_sysmo.oml_remote_ip}
 gsmtap-sapi bcch
 gsmtap-sapi ccch
 gsmtap-sapi rach
 gsmtap-sapi agch
 gsmtap-sapi pch
 gsmtap-sapi sdcch
 gsmtap-sapi tch/f
 gsmtap-sapi tch/h
 gsmtap-sapi pacch
 gsmtap-sapi pdtch
 gsmtap-sapi ptcch
 gsmtap-sapi cbch
 gsmtap-sapi sacch
 trx 0
  phy 0 instance 0
