# systemd service file for the ofono daemon
[Unit]
Description=oFono

[Service]
ExecStart=/usr/local/src/ofono/src/ofonod -n
Restart=always
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
